body {
  margin: 0;
  background-color: #261d45 !important;
  min-width: 1500px;
  max-width: 1000px;
}

.el-icon-back {
  font-size: 25px;
  color: #fff;
}

.el-button--primary {
  background-image: linear-gradient(#261d45, #372963) !important;
  border-color: #7a378b;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  background-color: #7a378b !important;
}

body::-webkit-scrollbar {
  display: none;
}
