html,
body,
#app,
.home {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #261d45 !important;
  min-width: 1500px;
}

body::-webkit-scrollbar {
  display: none;
}

.el-icon-back {
  font-size: 25px;
  color: #fff;
}

.el-button--primary {
  background-image: linear-gradient(#261d45, #372963) !important;
  border-color: #7a378b;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  background-color: #7a378b !important;
}

.el-card,
.el-card__body {
  height: 100% !important;
}

.el-tabs__content,
.el-textarea__inner {
  height: 500px !important;
}

.el-tabs__item {
  color: #ffffff;
}

.el-tabs__item.is-active {
  color: #f74aed;
}

.el-tabs__item:hover {
  color: #f74aed;
}

.el-tabs__active-bar {
  background-color: #f74aed !important;
}

.dv-active-ring-chart .active-ring-info .active-ring-name {
  color: #f74aed !important;
}

.el-tab-pane {
  height: 479px;
}
